<p id="notice"><%= notice %></p>

<h1>Zombies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th>Email</th>
      <th>Rotten</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% @rotten_zombies.each do |zombie| %>
      <tr>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>
          <td><%= zombie.email %></td>
      
          <td><%= zombie.rotten ? "yes" : "no" %></td>
                    <td><%=image_tag zombie.avatar, :width=> "150px" %></td>

        <td><%= link_to 'Show', zombie, :class=> 'button',:style=>'color:#FFFFFF;' %></td>
        <td><%= link_to 'Edit', edit_zombie_path(zombie), :class=> 'button secondary',:style=>'color:#FFFFFF;' %></td>
        <td><%= link_to 'Destroy', zombie, :class=> 'button alert', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zombie', new_zombie_path %>
