<div class="show">
<div class="container"> 
<div class="row">
    <div class="large-6 columns">
        <%=image_tag @zombie.avatar, class:"avatar"%>
    </div>
<div class="large-6 columns">
<table class="table table-reflow">
  <thead>
    <tr>
      
      <th>Age</th>
      <th>Email</th>
      <th>Rotten</th>
    </tr>
  </thead>
  <tbody>
    <tr> 
      <td><%= @zombie.age %></td>
      <td><%=@zombie.email%></td>
      <td><%=@zombie.rotten%></td>
    </tr>
</table> 
</div> 
 </div>
<div id="brains">
    <%= render :partial=>@zombie.brains.reverse%>
</div>

<%= form_for([@zombie, Brain.new],remote:true)do|f|%>
  <form class="formulario">
    <div class="field form-group">
        <%= f.label :flavor%>
        <%= f.text_field :flavor,class:"form-control"%>
    </div>
    <div class="field form-group">
        <%= f.label :iq%>
        <%= f.number_field :iq,class:"form-control"%>
    </div>
    <div class="field form-group">
        <%= f.label :fresh%>
        <%= f.check_box :fresh,class:"form-control"%>
    </div>
    <div class="action">
        <%= f.submit "Add brain",class:"btn btn-primary"%>
    </div>
    </form>
</div>
</div>       
    <%end%>
<br>    
<%= link_to 'Edit', edit_zombie_path(@zombie),class:"btn btn-info" %> |
<%= link_to 'Back', zombies_path,class:"btn btn-info" %>
