<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Home Page</li>
      <li>
        <a href="#">Zombies</a>
        <ul class="menu vertical">
          <li><a href="/zombies">List</a></li>
         <li><a href="zombies/new">New</a></li>
        </ul>
      </li>
     
    </ul>
  </div>
 
</div>
      <div class="top-bar-right">
      <% if user_signed_in? %>
          
          <strong>Bienvenido(a) <%= current_user.email %></strong>
          <strong><%= link_to "cerrar sesion", destroy_user_session_path,method: :delete %></strong>
          
          <strong><%= link_to "editar perfil", edit_user_registration_path %></strong>
        
          
          <% else %>
          
          <strong><%=link_to"login", new_user_session_path%></strong>
          
          <strong><%=link_to"Registro", new_user_registration_path%></strong>

          <%end%>
     
      </div>
      
      <% if notice %>
      <p class="alert alert-success"><%= notice %></p><% end %>
      <% if alert %>
      <p class="alert alert-danger"><%=alert%></p>
      <% end %>
      
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    
    <%= yield %>
    
  </body>
</html>
